.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  text-transform: uppercase;
  }

p {
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.game__score-title {
  display: block;
  margin-top: 15px;
}

.game__score {
  margin: 2px;
}

.game__score--win,
.game__score--losses {
  margin: 0;
}

.wrapper {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.game-block {
  position: relative;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: fit-content;
  margin-bottom: 15px;
}

.game-block--computer {
  position: relative;
  margin-right: 10px;
}

.game-block__name {
  font-size: 13px;
  margin-bottom: 8px;
}

.game__btn {
  font-family: inherit;
  font-size: 18px;
  border: 2px solid black;
  text-transform: uppercase;
  padding-top: 8px;
  padding-bottom: 10px;
  width: 150px;
  margin: 0 auto;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 25px;
}

.game__btn:hover,
.game__btn:focus {
  outline: none;
  background-color: black;
  color: white;
}

.game__btn:active {
  color: black;
  background-color: white;
}

svg {
  width: 50px;
  height: 50px;
  border: 2px solid #c2c2c2;
  padding: 3px;
  margin-bottom: 10px;
  fill: #c2c2c2;
  background-color: white;
}

.player-svg {
  background-color: white;
  fill: black;
  border-color: black;
}

.player-svg:hover,
.player-svg:focus {
  cursor: pointer;
  background-color: black;
  fill: white;
}

.player-svg--modal {
  position: absolute;
  top: 75px;
  left: 80px;
  fill: black;
  border-color: black;
  background-color: white;
  animation-name: modal;
  animation-duration: 0.6s;
}

.player-svg--modal-computer {
  position: absolute;
  top: 115px;
  right: 80px;
  fill: black;
  border-color: black;
  background-color: white;
  animation-name: modal;
  animation-duration: 0.6s;
}

.game__alert {
  text-align: center;
  top: 205px;
  left: 0;
  right: 0;
  position: absolute;
  animation-name: modal;
  animation-duration: 0.6s;
}

.game__alert--modal {
  animation-name: game-alert;
  animation-duration: 0.6s;
  color: red;
}

@keyframes modal {
  0% {transform: translateY(-200px);}
  70% {transform: translateY(10px);}
  90% {transform: translateY(-10px);}
  100% {transform:  translateY(0);}
}

@keyframes game-alert {
  0% {transform: translateX(-10px);}
  30% {transform: translateX(10px);}
  60% {transform: translateX(-10px);}
  100% {transform: translateX(0);}
}

.game__panel-win {
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: -50px;
}

.game__wins,
.game__losses {
  margin-bottom: 5px;
}

.game__panel-results {
  width: fit-content;
  display: none;
  position: absolute;
  top: 65px;
  left: 50%;
  transform: translateX(-50%);
  color: #c2c2c2;
  width: fit-content;;
}
